@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
#menu {
  scroll-margin-top: 120px; /* Adjust this value to match the height of your fixed navbar */
}

#example-section {
  scroll-margin-top: 180px;
}
#home,
#profile,
#messages,
#settings,
#location {
  scroll-margin-top: 120px;
}

body {
  font-family: "Inconsolata", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5e6e82;
  text-align: left;
  background-color: #fff;
  user-select: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #5e6e82;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 4px;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rotate-move-in {
  animation: moveFromLeft 1000ms ease-out forwards;
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-100vw) rotate(0deg);
    /* transform: rotate(0deg); */

    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(420deg);
    /* transform: rotate(45deg); */

    opacity: 1;
  }
}

/* Container for carousel */
.react-multiple-carousel {
  position: relative;
}

/* Style for left arrow  of testimonials*/
.testimonials .react-multiple-carousel__arrow--left {
  left: 0;
  transform: translateX(0);
  z-index: 10;
  margin-left: 0px;
}

/* Style for right arrow of testimonials*/
.testimonials .react-multiple-carousel__arrow--right {
  right: 0;
  transform: translateX(0); /* Adjust if necessary */
  z-index: 10;
  margin-right: 0px;
}
/* style for left arrow of menu */

.menu .react-multiple-carousel__arrow--left {
  left: 0;
  transform: translateX(0);
  z-index: 10;
  margin-left: 20px;
}

/* Style for right arrow of menu */
.menu .react-multiple-carousel__arrow--right {
  right: 0;
  transform: translateX(0); /* Adjust if necessary */
  z-index: 10;
  margin-right: 20px;
}

/* Custom styles for carousel control icons */
.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  opacity: 0;
  background-color: rgba(251, 205, 114, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
  transition: background-color 0.3s ease;
}
#carousel:hover .react-multiple-carousel__arrow--left,
#carousel:hover .react-multiple-carousel__arrow--right {
  opacity: 1;
}

.react-multiple-carousel__arrow--left:hover,
.react-multiple-carousel__arrow--right:hover {
  background-color: rgba(255, 197, 84, 0.8);
}

.custom-checkbox {
  border-color: #d8e2ef !important;
}

.carousel-progress-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 4px;
  margin-top: 10px;
}

.carousel-progress-bar {
  width: 5%;
  height: 100%;
  background-color: #768495;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.carousel-progress-bar.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  animation: moveProgressBar 3s linear;
}

@keyframes moveProgressBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Custom CSS for changing checkbox color */
.custom-style .form-check-input:checked {
  background-color: #f39c12; /* Custom color (e.g., orange) */
  border-color: #f39c12;
}

.custom-style .form-check-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem #fbeed3;
}

.custom-style .form-check-input:checked::after {
  background-color: green; /* Checkmark color */
  border-color: #d8e2ef;
}

.customStyle {
  border-color: #9da9bb;
}
.custom-card:hover .card-body {
  bottom: 0;
}

.ipagination {
  color: black;
}

.ipagination:hover {
  cursor: pointer;
  color: white;
  background: #000;
}
.active {
  background: #000 !important;
  border: none;
}

.checklist {
  list-style: none;
  padding-left: 0;
}

.checklist li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.checklist li::before {
  content: "✅"; /* Unicode character for a checkmark */
  position: absolute;
  left: 0;
  color: #38a169; /* Tailwind's green-600 color */
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: fit-content;
}

.select-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 20px; /* Adjust icon width */
  height: 20px; /* Adjust icon height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-input {
  width: 100%;
  padding-left: 40px; /* Adjust padding to make space for icon */
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background: transparent;
  background-color: #fff;
  color: #333;
}

.select-input:focus {
  outline: none;
  border-color: #007bff;
}
